<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'home.html' %}
    {% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Are you sure that you want to delete the {{item}}</p>
                <form action="{% url 'delete' order.id %}" method='POST'>
                    {% csrf_token %}
                    <a class="btn btn-sm btn-warning" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-sm btn-danger" type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>