{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static '/image/logo.jpg' %}" height="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'userSettings' %}">Settings</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Hello {{user.username}}</a>
            </li>
        </ul>
    </div>
</nav>