<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%  extends 'home.html' %}
    {% load static %}
    {% block content %}

    <style>
        .profile-pic {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                <a href='{{request.user.customer.profile_pic.url}}' download="Propic"><img class="profile-pic"
                        src="{{request.user.customer.profile_pic.url}}"></a>

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in forms %}
                    {{form.label}} : {{form}}
                    <hr>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>



    {% endblock %}
</body>

</html>